@media (orientation: landscape) {
    .AdminDashboard {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        left: 0;
        top : 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(32, 32, 32);
    }

    .EstimateContainer {
        position: relative;
        width: 100%;
        height: 80%;
        left : 0;
        bottom : 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: white;
        overflow-y: auto;
    }

    .Estimate {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 5vw;
        padding: 1vw 1vw 1vw 1vw;
        background-color: rgb(64, 64, 64);
        border-radius: 25px;
        margin-top: 1vw;
        margin-bottom: 1vw;
        border-color: transparent;
        border-width: 2px;
        border-style: solid;
        color : white
    }

    .Estimate p {
        text-align: center;
        font-weight: 700;
    }

    .Estimate:hover {
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
}

@media (orientation: portrait) {
    .AdminDashboard {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        left: 0;
        top : 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(32, 32, 32);
    }

    .EstimateContainer {
        position: relative;
        width: 100%;
        height: 90%;
        left : 0;
        bottom : 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: white;
        overflow-y: auto;
    }

    .Estimate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width: 80%;
        height: fit-content;
        padding: 1vw 1vw 1vw 1vw;
        background-color: rgb(64, 64, 64);
        border-radius: 25px;
        margin-top: 1vw;
        margin-bottom: 1vw;
        border-color: transparent;
        border-width: 2px;
        border-style: solid;
        color : white
    }

    .Estimate p {
        text-align: center;
        font-weight: 700;
    }

    .Estimate:hover {
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
}