.Gratitude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top : 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 32, 32);
}

.GratitudeContainer {
    position: relative;
    width: 100%;
    height: 80%;
    left : 0;
    bottom : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : white
}

.fade-in-slide-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 0.5s ease forwards;
}


@keyframes fadeInSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}